/* =============
    Typography
============= */

body{
    font-family: 'Noto Serif', serif;
    font-family: 'Nunito', sans-serif;

}

h1, h2, h3, h4, h5, h6, p, figure {
    margin: 0;
    padding: 0; }
  

h2{
font-weight: 600;
}

h3{
    font-weight: 600;
    }

p{
    font-weight: 400;
     }