/* =============
    Section 6
============= */

#section-6{

    @include md{
        display: grid;
        grid-template-columns: auto 60% auto;
        grid-template-areas: ". section-6 ."; 
        }

    @include xl{
        grid-template-columns: auto 900px auto;
        }

        @include md{
        margin: 30px 0px 50px 0px;
        }

    #section-6-content {

        aside{
            background-image: url('../img/section-6/circle-mask.jpg');
            background-position: center;
            background-position: cover;
            background-repeat: no-repeat;
            height: 320px;
            margin: 20px 0px 40px 0px; 
        }
        

        @include md{
            grid-area: section-6
        }

        @include lg{
            display: grid;
            grid-template-columns: 40% auto;
         }
    

        #section-6-text{
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". section-6-text .";
            align-items: center;
            margin-bottom: 50px;


            
                p {
                margin: 0px 0px 20px 0px;
                font-family: 'Noto Serif';
                line-height: 1.5rem;
                font-size: 1rem; }
            
           

            @include md{
                margin-bottom: 30px;
            }

            
            #section-6-text-content{
                grid-area: section-6-text;
            }
        }
    }
}
