/* =============
    Section 5
============= */
#section-5 {
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: '. section-5 .';
    grid-template-columns: auto 380px auto;

    @include md {
        grid-template-columns: auto 768px auto;
    }

    @include lg {
        grid-template-columns: auto 1000px auto;
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    ul {
        display: grid;
        gap: 20px;
        grid-area: section-5;
        grid-template-areas: 
            "g1"
            "g2"
            "g3";
        grid-template-rows: repeat(3, 300px);

        @include md {
            grid-template-areas: 
                "g1 g1"
                "g1 g1"
                "g2 g3";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 350px);
        }

        @include lg {
            grid-template-areas: 
                "g1 g1 g2"
                "g1 g1 g3";
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 400px);
        }

        li {
            background-position: center;
            background-size: cover;
        }

        #g1 {
            background-image: url('../img/section-5/gallery-1.jpg');

            @include md {
                grid-area: g1;
            }
        }

        #g2 {
            background-image: url('../img/section-5/gallery-2.jpg');

            @include lg {
                grid-area: g2;
            }
        }

        #g3 {
            background-image: url('../img/section-5/gallery-3.jpg');

            @include md {
                grid-area: g3;
            }
        }
    }
}