/* =============
    Section 1
============= */
#section-1 {
    background-image: url('../img/section-1/hero.jpg');
    background-position: 0px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;

    @include md {
        background-position: center 30px;
        height: 50vh;
    }

    @include lg {
        background-position: center 0px;
        height: 90vh;
    }

    @include xl {
        background-position: center -30px;
        height: 90vh;
    }
}