/* =============
    Section 4
============= */
#section-4 {
    text-align: center;
    margin: 35px 0 20px 0;

    #section-4-container {
        display: grid;
        grid-template-areas: ". section-4 .";
        grid-template-columns: 15px auto 15px;

        @include md {
            grid-template-columns: auto 60% auto;
        }

        @include lg {
            grid-template-columns: auto 50% auto;
        }

        @include xl {
            grid-template-columns: auto 800px auto;
        }

        hr {
            background-color: black;
            border: none;
            height: 3px;
        }

        h2 {
            color: $tan;
            font-family: 'nunito';
            font-size: 1.5rem;
            line-height: 2.5rem;
            margin: 20px 0px 20px 0px;

            @include md {
                font-size: 2rem;
                line-height: 3.125rem;
            }

            @include lg {
                font-size: 2.5rem;
                line-height: 4.375rem;
            }
        }
    }

    #section-4-content {
        grid-area: section-4;
    }
}