/* =============
    Section 3
============= */
#section-3{
    
    background-image: url('../img/section-3/hero-2.jpg');
    //border: 1px solid red;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh; 
    margin: 30px 0px 15px 0px;
    
    
    @include md{
        height: 50vh;
        background-position: center -100;
     } 
    
    @include lg {
        height: 90vh; } 
    
    @include xl{
        height: 90; } 
   
}