/* =============
    Section 6
============= */
#section-6 {
    @include md {
        display: grid;
        grid-template-areas: ". section-6 .";
        grid-template-columns: auto 60% auto;
        margin: 30px 0px 50px 0px;
    }

    @include lg {
        grid-template-columns: auto 900px auto;
    }

    @include xl {
        grid-template-columns: auto 900px auto;
    }

    #section-6-content {
        aside {
            background-image: url('../img/section-6/circle-mask.jpg');
            background-position: -180px center;
            background-repeat: no-repeat;
            border-radius: 100%;
            height: 355px;
            margin: 20px auto 40px auto;
            width: 355px;
        }

        @include lg {
            display: grid;
            grid-template-columns: 40% auto;
        }

        #section-6-text {
            align-items: center;
            display: grid;
            grid-template-areas: ". section-6-text .";
            grid-template-columns: 10px auto 10px;
            margin-bottom: 50px;

            @include md {
                margin-bottom: 30px;
            }

            p {
                font-family: 'Noto Serif';
                font-size: 1rem;
                line-height: 1.5rem;
                margin: 0px 0px 20px 0px;
                text-align: justify;

                @include lg {
                    margin-left: 50px;
                }
            }

            #section-6-text-content {
                grid-area: section-6-text;
            }
        }
    }
}