/* =============
    Footer
============= */
#footer {
    background-color: $auburn;
    background-image: url('../img/footer/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: ". footer .";
    grid-template-columns: 6% auto 6%;
    grid-template-rows: repeat(1, 60px);

    #footer-content {
        color: white;
        display: flex;
        grid-area: footer;
        justify-content: flex-end;
        padding-top: 40px;
    }
}