/* =============
    Footer
============= */
#footer{

    background-image: url('../img/footer/logo.png');
    background-position: center;
    background-repeat: no-repeat;

    background-color: $auburn;
    display: grid;
    grid-template-columns: 6% auto 6%;
    grid-template-rows: repeat(1, 60px);
    grid-template-areas: ". footer ."; 

    @include md{
        grid-template-columns: 20% auto 20%;
    }

    @include lg{
        grid-template-columns: 30% auto 30%;
    }

    @include xl{
        grid-template-columns: 40% auto 40%;
    }

#footer-content {
      grid-area: footer; 
        color: white;
        padding-top: 40px;
        padding-bottom: 10px;
        text-align: right;
    }
}