/* =============
    Navigation
============= */
#nav-container {
    ul {
        height: 100%;
        text-align: right;

        @include lg {
            display: flex;
            justify-content: flex-end;
        }

        li {
            border-bottom: 1px solid white;

            @include lg {
                align-items: center;
                border-bottom: none;
                display: flex;
            }

            a:link,
            a:visited {
                color: $auburn;
                display: inline-block;
                font-weight: 700;
                padding: 20px 0;
                text-decoration: none;
                transition: 0.25s;
                width: 100%;

                @include lg {
                    border-right: 1px solid $auburn;
                    color: $auburn;
                    font-size: rem-calc(20);
                    padding: 0 30px;
                }
            }

            a:hover,
            a:active {
                color: $tan;
            }
        }

        li:last-child {
            border: none;

            @include lg {
                a {
                    border: none;
                }
            }
        }
    }
}